<div class="main-content">
  <div class="container-fluid">
      <div class="row">
          <div class="col-md-8">
              <div class="card">
                  <div class="card-header card-header-danger">
                    
                      <h4 class="card-title" style="font-size:2em;"><i class="material-icons">history</i>Transactions</h4>
                      <p class="card-category">History of User Transatcions</p>
                  </div>
                  <div class="card-body">
                    <table class="table" id="tblData">
                      <thead class=" text-primary">
                          <th>
                              ID
                          </th>
                          <th>
                              Sender
                          </th>
                          <th>
                              Reciver
                          </th>
                          <th>
                              Time
                          </th>
                          <th>
                              Amount
                          </th>
                      </thead>

                      <tbody>
                        <tr routerLinkActive="active" *ngFor="let menuItem of menuItems">
                            <td>
                                {{menuItem.id}}
                            </td>
                            <td>
                                {{menuItem.sender}}
                            </td>
                            <td>
                                {{menuItem.reciever}}
                            </td>
                            <td>
                                {{menuItem.timing}}
                            </td>
                            <td>
                                {{menuItem.amount}}
                            </td>
                        </tr>
                      </tbody>
                  </table>
                  </div>
              </div>
          </div>
          <div class="col-md-4">
              <div class="card card-profile">
                  <div class="card-avatar">
                      <a href="javascript:void(0)">
                          <img class="img" src="{{'./assets/img/faces/'+name+'.jpg'}}" onerror='this.onerror = null; this.src="./assets/img/user.png"'/>
                      </a>
                  </div>
                  <div class="card-body">
                      <h6 class="card-category text-gray">Mr.</h6>
                      <h4 class="card-title">{{name.toUpperCase()}}</h4>
                      <p class="card-description">
                        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Numquam qui obcaecati facere voluptate ab. Fugit nobis eius obcaecati consequatur sit, optio et exercitationem soluta. Vitae illum laborum amet ipsam porro...
                      </p>
                      <a (click)="exportTableToExcel('tblData',name+'-Transactions')" class="btn btn-danger btn-round">Export Report</a>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>